
.DS_Store
1219/1219.xcodeproj/project.pbxproj
1219/1219.xcodeproj/project.xcworkspace/contents.xcworkspacedata
1219/1219.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
1219/1219.xcodeproj/project.xcworkspace/xcuserdata/naknak.xcuserdatad/UserInterfaceState.xcuserstate
1219/1219.xcodeproj/xcuserdata/naknak.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
1219/1219.xcodeproj/xcuserdata/naknak.xcuserdatad/xcschemes/xcschememanagement.plist
1219/1219.xcodeproj/project.pbxproj
1219/1219.xcodeproj/project.xcworkspace/contents.xcworkspacedata
1219/1219.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
1219/1219.xcodeproj/project.xcworkspace/xcuserdata/naknak.xcuserdatad/UserInterfaceState.xcuserstate
1219/1219.xcodeproj/xcuserdata/naknak.xcuserdatad/xcschemes/xcschememanagement.plist
1219/1219.xcodeproj/project.pbxproj
1219/1219.xcodeproj/project.xcworkspace/contents.xcworkspacedata
1219/1219.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
1219/1219.xcodeproj/project.xcworkspace/xcuserdata/naknak.xcuserdatad/UserInterfaceState.xcuserstate
1219/1219.xcodeproj/xcuserdata/naknak.xcuserdatad/xcschemes/xcschememanagement.plist
*.pbxproj
*.xcworkspacedata
*.plist
*.xcuserstate
